h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container
{
    display: grid;
    grid-template-columns: 120px 120px;
    grid-template-rows: 120px 120px;
}
.btn{
    display:block;
    height: 100px;
    width : 100px;
    border: 3px solid black;
    border-radius: 10px;
}
#blue
{
    background-color: blue;
}
#yellow
{
    background-color: yellow;
}
#red
{
    background-color: rgb(255, 0, 0);
}
#green
{
    background-color: green;
}

.flash
{
    background-color: white;
}
